@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&family=Montserrat:wght@600&family=Open+Sans:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Baskervville:ital@0;1&display=swap");
:root {
  --main-theme-color: #ff8c00;
}

html {
  font-size: 62.5%;
}

body {
  padding: 20px;
  margin: 0;
  font-family: "Poppins", sans-serif;
  background: linear-gradient(
    to right,
    #0a0a0a,
    #110900,
    #1d0f00,
    var(--main-theme-color)
  );
}

#root {
  width: 100%;
  max-width: 1500px;
  margin: 0 auto;
}

.padding-20 {
  padding: 20px;
}

/* NAVIGATION SECTION */

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  font-size: 1.8rem;
}

nav figure {
  margin: 0;
  width: 25%;
  object-fit: cover;
}

.logo {
  width: 100%;
  max-width: 15rem;
  height: auto;
  object-fit: contain;
  cursor: pointer;
}

.nav ul {
  display: flex;
  justify-content: space-between;
  width: 50%;
}

.nav ul li {
  list-style: none;
}

.nav ul li a {
  text-decoration: none;
  color: white;
  font-size: 1.8rem;
  position: relative;
}

.link-underline::before {
  content: "";
  width: 100%;
  height: 4px;
  background-color: var(--main-theme-color);
  position: absolute;
  bottom: -5px;
  transition: all 0.5s ease-in-out;
}

.link-underline:hover::before {
  background-color: white;
  width: 100%;
}

.nav ul li a:hover {
  color: var(--main-theme-color);
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}

.search-box {
  height: fit-content;
  position: relative;
}
.input-search {
  position: absolute;
  right: 10px;
  top: 20px;
  width: 50px;
  border-style: none;
  padding: 10px;
  font-size: 18px;
  letter-spacing: 2px;
  outline: none;
  border-radius: 25px;
  transition: all 0.5s ease-in-out;
  background-color: #22a6b3;
  color: #fff;
  opacity: 0;
}
.input-search::placeholder {
  color: rgba(255, 255, 255, 0.5);
  font-size: 18px;
  letter-spacing: 2px;
  font-weight: 100;
}
.btn-search {
  width: 50px;
  height: 50px;
  border-style: none;
  font-size: 20px;
  font-weight: bold;
  outline: none;
  cursor: pointer;
  border-radius: 50%;
  position: absolute;
  right: 0px;
  bottom: -30px;
  color: #ffffff;
  background-color: transparent;
  pointer-events: painted;
}
.btn-search:focus ~ .input-search {
  width: 300px;
  border-radius: 0px;
  background-color: transparent;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  transition: all 500ms cubic-bezier(0, 0.11, 0.35, 2);
  opacity: 1;
}
.input-search:focus {
  width: 300px;
  border-radius: 0px;
  background-color: transparent;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  transition: all 500ms cubic-bezier(0, 0.11, 0.35, 2);
  opacity: 1;
}

input {
  width: 100%;
}

/* HERO SECTION */

.hero {
  font-family: "Montserrat", sans-serif;
  display: flex;
  justify-content: space-between !important;
  align-items: center;
  position: relative;
  height: calc(100vh - 107px);
  overflow: hidden;
}

.hero-first-half {
  text-transform: uppercase;
  color: #ffffff;
}

.hero-first-half h1 {
  font-size: 72px;
  display: flex;
  flex-direction: column;
}

.hero-first-half h1 span:first-of-type {
  color: #b87952;
}

.hero-first-half h1 span:nth-child(2) {
  color: var(--main-theme-color);
  position: relative;
}

.hero-first-half h1 span:nth-child(2)::before {
  content: "";
  width: 20%;
  height: 5px;
  background-color: var(--main-theme-color);
  position: absolute;
  bottom: -15px;
}

.hero-first-half p {
  font-size: 20px;
}

.hero-first-half button {
  font-size: 16px;
  color: var(--main-theme-color);
  background-color: transparent;
  border: none;
  border: 3px solid var(--main-theme-color);
  padding: 8px 16px;
  margin-top: 30px;
}

.hover-white:hover {
  color: white;
  border-color: white;
  transition: all 0.5s ease-in-out;
}

.checkout-affordable {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero-second-half {
  width: 50%;
  display: flex;
  position: relative;
}

.great-prices {
  font-size: 20px;
  border: 3px solid var(--main-theme-color);
  color: white;
  text-transform: uppercase;
  border-radius: 50%;
  width: 100%;
  max-width: 62px;
  height: 62px;
  padding: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  position: absolute;
  bottom: 10%;
  left: -100px;
}

.great-prices:before {
  content: " ";
  position: absolute;
  z-index: 2;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border: 5px solid var(--main-theme-color);
  border-radius: 50%;
}

.hero-second-half .plate {
  width: 100%;
  max-width: 550px;
  border-radius: 50%;
  box-shadow: 0 4px 16px;
  animation: slideInRight 2s ease-out forwards;
}

.social-links {
  position: fixed;
  right: 0;
  top: 40%;
  display: flex;
  flex-direction: column;
  list-style-type: none;
  justify-content: space-between;
  z-index: 2;
}

.social-links li {
  background-color: #110900;
  padding: 10px 12px;
  box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.8);
}

.social-links li:first-child {
  border-top-left-radius: 20px;
}

.social-links li:last-child {
  border-bottom-left-radius: 20px;
}

.social-links a {
  text-decoration: none;
  color: white;
  font-size: 25px;
  font-weight: bold;
}

.social-links li:hover {
  background-color: var(--main-theme-color);
}

.ham-menu {
  display: none;
}

.slide-In-left {
  animation: slideInLeft 2s ease-out forwards;
}
/* ANIMATION FOR TEXTS */
@keyframes slideInLeft {
  from {
    opacity: 0;
    transform: translateX(-100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideInRight {
  from {
    opacity: 0;
    transform: translateX(100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

/* FOOD PRODUCTS SECTION  */

.loader {
  width: 48px;
  height: 48px;
  border: 5px solid #fff;
  border-bottom-color: #ff3d00;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.error-message {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #ffffff;
}

.error-message button {
  border: none;
  background: transparent;
  color: var(--main-theme-color);
}

.products {
  font-family: "poppins";
  padding: 3rem;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.products h1 {
  text-align: center;
  color: #ffffff;
  font-size: 4rem;
  text-transform: uppercase;
  margin-bottom: 6rem;
}

.foods {
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  gap: 50px;
}

.food {
  box-shadow: 2px 4px 8px rgba(212, 184, 168, 0.08);
  border: 2px solid #7c2d12;
  width: 100%;
  max-width: 300px;
  border-radius: 10px;
  padding: 20px;
  background: white;
  transition: transform 0.4s ease-in-out;
}
.food:hover .food-img {
  transform: scale(1.03);
}
.food-img {
  width: 100%;
  max-width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 20px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.8);
  transition: transform 0.3s ease-in-out;
}
.food-name {
  font-size: 20px;
  color: #3d2c1e;
  font-weight: bold;
}
.food-category {
  font-size: 14px;
  color: #7c2d12;
  margin: 10px 0;
}
.food-description {
  font-size: 12px;
  margin-top: 10px;
  color: #333333;
}
.food-btn {
  border: 2px solid #7c2d12;
  background-color: transparent;
  padding: 10px 16px;
  border-radius: 20px;
  margin-top: 10px;
  color: #7c2d12;
  cursor: pointer;
  font-weight: bold;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
  transition: background 0.3s ease-in-out;
}
.food-btn:hover {
  background-color: #7c2d12;
  color: white;
}
.load-food {
  max-width: 50%;
  margin: 40px 0;
  border: 2px solid #333333;
  padding: 15px 30px;
  background-color: transparent;
  border-radius: 5px;
  color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
  transition: all 0.3s ease-in-out;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.load-food:hover {
  text-decoration: underline;
  color: var(--main-theme-color);
}
.arrow-down {
  margin-left: 5px;
}

/* FOOD PRODUCT DETAILS */

.product-page {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 127px);
}

.product-details {
  display: flex;
  justify-content: center;
  gap: 8rem;
  align-items: center;
  flex-grow: 1;
  border-radius: 2rem;
}

.product-details img {
  border-radius: 15px;
  box-shadow: 0px 8px 20px rgba(255, 140, 0, 0.4);
  width: 100%;
  max-width: 500px;
  height: 500px;
  object-fit: cover;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.product-details img:hover {
  transform: scale(1.05);
  box-shadow: 0px 12px 30px rgba(255, 140, 0, 0.6);
}

.details-text {
  max-width: 600px;
}

.details-foodName {
  font-size: 3.5rem;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 1rem;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  color: #ffffff;
}

.details-category {
  font-size: 1.6rem;
  color: #22a6b3;
  font-weight: bold;
  letter-spacing: 1px;
  margin-bottom: 10px;
}

.details-description {
  font-size: 1.6rem;
  line-height: 1.8;
  opacity: 0.9;
  color: white;
}

.details-contact {
  display: flex;
  gap: 4rem;
  flex-wrap: wrap;
  margin-top: 2rem;
  align-items: center;
}

.details-contact .fa-phone {
  transform: rotate(90deg);
}

.details-contact p {
  font-size: 1.5rem;
  padding: 15px 27px;
  display: flex;
  align-items: center;
  background: #111;
  border: 2px solid #ff6b00;
  color: var(--main-theme-color);
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.4s linear;
}

.details-contact p:hover {
  border-color: #ffbb73;
  box-shadow: 0 0 10px rgba(255, 187, 115, 0.5);
  transform: scale(1.05);
}
.whatsapp-btn {
  align-self: center;
  width: fit-content;
  padding: 15px 27px;
  background-color: #25d366;
  color: white;
  border-radius: 8px;
  font-weight: bold;
  font-size: 16px;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

.whatsapp-btn:hover {
  box-shadow: 0 0 10px rgba(37, 211, 102, 0.5);
  transform: scale(1.05);
  background-color: #1ebe5d;
  color: white;
}

/* SERVICES SECTION START */
.services-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  font-family: "Poppins", sans-serif;
  margin-bottom: 18rem;
}
.services-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
  margin-top: 12rem;
}
.services-heading {
  font-size: 4rem;
  text-align: center;
  color: #ffffff;
  margin: 100px 0 30px 0;
  text-transform: uppercase;
  font-family: "Poppins";
}

.service-img {
  width: 100%;
  object-fit: cover;
  height: 300px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.service {
  position: relative;
  background-color: #ffffff;
  box-shadow: 0 16px 32px rgba(0, 0, 0, 0.9);
  border-radius: 15px;
  transition: all 0.5s ease-in-out;
}
.service:hover {
  color: #ffffff;
  transform: scale(1.03);
  box-shadow: 0 0 25px 0 rgba(20, 27, 201, 0.05);
  cursor: pointer;
  background: #7c2d12;
}
.service p {
  color: #555;
  line-height: 1.7;
  font-size: 1.6rem;
  letter-spacing: 1px;
  padding: 20px;
  margin: 15px 0;
  font-style: italic;
  letter-spacing: 0.5px;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
}
.service:hover p {
  color: white;
}
.service h3 {
  color: #ffffff;
  font-size: 1.5rem;
  letter-spacing: 2px;
  text-decoration: underline;
  position: absolute;
  bottom: 100%;
  border-radius: 20px;
  padding: 15px 20px;
  display: flex;
  align-items: center;
  gap: 10px;
}

/* SERVICES SECTION END */

/* CONTACT US SECTION START */

.contact-container {
  background-repeat: repeat;
  background-position: bottom;
  background-color: #25140a;
  color: white;
  margin-top: 2rem;
  box-shadow: -10px 10px 20px rgba(0, 0, 0, 0.5);

  border-radius: 10px;
  margin-bottom: 18rem;
}
.grid-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
}
.contact-heading {
  font-size: 3rem;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  font-family: "Poppins";
}
.form-article {
  width: 100%;
}
#form {
  width: 100%;
  margin: 0 auto;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease-in-out;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.map {
  /* z-index: -1; */
  position: relative;
  border-radius: 10px;
}

#form input,
textarea {
  width: 80%;
  padding: 15px 20px;
  border: none;
  border-radius: 5px;
  margin-bottom: 10px;
  outline: none;
  background-color: #3a220e;
  border: 1px solid #b07d47;
  color: #ffbb73;
  font-size: 14px;
  font-weight: lighter;
  letter-spacing: 1.2px;
}
textarea {
  resize: none;
}

#form input:focus,
#form textarea:focus {
  background: rgba(255, 126, 0, 0.2);
  outline: none;
}

#form input::placeholder,
textarea::placeholder {
  color: #ffffff;
  font-style: italic;
}
.submit {
  padding: 10px 15px;
  background: linear-gradient(45deg, #ff6b00, #ff3d00);
  border: none;
  color: #ffffff;
  font-weight: 600;
  box-shadow: 0 5px 15px rgba(255, 126, 0, 0);
  font-family: "poppins", sans-serif;
  letter-spacing: 1.5px;
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  margin: 10px 0 15px 0;
}

.submit:hover {
  background: linear-gradient(45deg, #ff3d00, #ff7e00);
  transform: scale(1.05);
}

.contact-address {
  font-size: 1.2rem;
  color: #ffffff;
  display: flex;
  justify-content: space-around;
  align-items: start;
  background-color: #3a220e;
  backdrop-filter: blur(10px);
  border-radius: 0px 0px 10px 10px;
  margin-top: 20px;
}

.contact-address h3 {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: var(--main-theme-color);
}

.fa-instagram,
.fa-phone {
  color: var(--main-theme-color);
  width: 20px;
  margin-right: 10px;
}

.contact-address p {
  margin-top: 0;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  background: #111;
  border: 2px solid #ff6b00;
  padding: 10px;
  border-radius: 5px;
  transition: all 0.4s linear;
}

.contact-address p:hover {
  border-color: #ffbb73;
  box-shadow: 0 0 10px rgba(255, 187, 115, 0.5);
  transform: scale(1.05);
}

/* FOOTER  */

.footer-container {
  background: linear-gradient(to right, black, #7c2d12);
  color: #ffffff;
  padding: 30px 20px;
  text-align: center;
  border-radius: 10px 10px 0px 0;
}
.footer-header {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.socials a {
  padding: 0 10px 0 0;
  text-decoration: none;
  transition: 0.3s;
}

.socials-link {
  transition: 0.3s;
}

.socials-link:hover {
  transform: scale(1.1);
}
.footer-content h2 {
  font-size: 2.3rem;
  padding-top: 10px;
  color: #cdb237de;
  font-family: "Baskervville", serif;
  font-weight: 400;
  font-style: italic;
}

.footer-container .copyright p {
  font-size: 14px;
  margin-top: 20px;
  opacity: 0.7;
}
.about h2 {
  font-size: 3rem;
}
.about p {
  max-width: 800px;
  overflow: auto;
  background: #222;
  padding: 20px;
  margin-bottom: 2.5rem;
  background-color: rgb(17, 24, 39, 0.5);
  border-radius: 10px;
  box-shadow: 0px 0px 15px rgba(255, 140, 0, 0.5);
  font-size: 1.6rem;
  letter-spacing: 1px;
  line-height: 1.6;
  font-size: 1.4rem;
  border: 1px solid var(--main-theme-color);
}

.top-btn-position {
  position: fixed;
  bottom: 30px;
  right: 40px;
  z-index: 3;
}

.top-btn-style {
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
  padding: 0.5rem;
  border: 2px solid #1d0f00;
  background-color: #1d0f00;
  color: var(--main-theme-color);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
  cursor: pointer;
}
